<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zxkitcar.sim" version="6.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Citroen ZX Sim</name>
    <description>Citroen ZX Kit Car Rally Simulator v6.0 - 256x256 Virtual Racing</description>
    <author email="dev@zxkitcar.local" href="https://zxkitcar.local">ZX Dev Team</author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <preference name="LogLevel" value="VERBOSE"/>
    <preference name="AndroidPersistentFileLocation" value="Compatibility"/>
    <preference name="AndroidExtraFilesystems" value="sdcard"/>
    <preference name="android-minSdkVersion" value="19"/>
    <preference name="android-targetSdkVersion" value="28"/>
    <preference name="android-compileSdkVersion" value="28"/>
    <preference name="android-build-tools" value="28.0.3"/>
    <preference name="android-gradleVersion" value="4.10.3"/>
    <preference name="android-gradlePluginVersion" value="3.3.0"/>
    <preference name="KeepRunning" value="true"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="Orientation" value="landscape"/>
    <platform name="android">
        <preference name="android-minSdkVersion" value="19"/>
        <preference name="android-targetSdkVersion" value="28"/>
    </platform>
</widget>
